<div class="container">
    <div class="row mt-2">
        <div class="col-4" *ngIf="showResults">
            <div class="list-group" *ngFor="let marca of marcas">
                <!-- Button trigger modal -->
                <button type="button" class="list-group-item list-group-item-action my-1" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="setMarcaId(marca.id)">
                    {{ marca.name }}
                </button>
            </div>
        </div>
        <div class="col-6 offset-2">
            <img src="../../../../assets/images/marcas-de-autos/marcas-coche.jpg" alt="Marcas de autos" class="img-fluid">
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modelos de la marca</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul *ngIf="modelos.length > 0">
                            <li *ngFor="let modelo of modelos">{{ modelo.name }}</li>
                        </ul>
                        <p *ngIf="modelos.length === 0">No hay modelos disponibles para esta marca.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
